menu "UCSC Thread-Ascon Border Router Network Performance Experiments"
  config EXPERIMENT_DEBUG
    bool 'Toggle debugging print statements'
    default n
    help
      Turns on the debugging print statements to print out information
      about packets sent and received.

  menu "TX Power"
    config TX_POWER
      int 'Set the 802.15.4 TX power used by OpenThread'
      range -24 20
      default 20
      help
          Set the 802.15.4 transmission power (in dBm) for OpenThread.
          The recommended TX power values are 20 dBm, 9 dBm, 0 dBm, and -25 dBm.
  endmenu

  menu "Network Performance Experiment Settings"
    config EXPERIMENT
      int 'The network performance experiment to run.'
      range 0 4
      default 0
      help
        Set '0' to not run any experiment (primarily used for debugging purposes).
        Set '1' to enable the route for the Throughput Confirmable experiment.
        Set '2' to enable the route for the Packet Loss Confirmable experiment.
        Set '3' to enable the server for the Throughput Observe (Non-Confirmable) experiment.
        Set '4' to enable the server for the Packet Loss Observe (Non-Confirmable) experiment.
    
    config COAP_OBSERVE_SERVER_IP
      string 'IP address of the CoAP Observe server.'
      help
        Sets the IP address of the FTD running the CoAP Observe server.
        The Border Router will connect to the FTD during the CoAP Observe (Non-Confirmable)
        Throughput and Packet Loss experiments.
  endmenu

        config ESP_BR_BOARD_DEV_KIT
            bool "Border router dev kit"
            help
                Integrated border router dev kit

        config ESP_BR_BOARD_M5STACK_CORES3
            bool "Border router M5Stack CoreS3"
            help
                M5Stack CoreS3
    endchoice

    menu "Board Configuration"
        config PIN_TO_RCP_RESET
            int "Pin to RCP reset"
            default 7 if ESP_BR_BOARD_DEV_KIT
            default 7 if ESP_BR_BOARD_M5STACK_CORES3

        config PIN_TO_RCP_BOOT
            int "Pin to RCP boot"
            default 8 if ESP_BR_BOARD_DEV_KIT
            default 18 if ESP_BR_BOARD_M5STACK_CORES3

        config PIN_TO_RCP_TX
            int "Pin to RCP TX"
            default 17 if ESP_BR_BOARD_DEV_KIT
            default 10 if ESP_BR_BOARD_M5STACK_CORES3

        config PIN_TO_RCP_RX
            int "Pin to RCP RX"
            default 18 if ESP_BR_BOARD_DEV_KIT
            default 17 if ESP_BR_BOARD_M5STACK_CORES3

        config PIN_TO_RCP_CS
            depends on OPENTHREAD_RADIO_SPINEL_SPI
            int "Pin to RCP SPI CS"
            default 10 if ESP_BR_BOARD_DEV_KIT
            default 13 if ESP_BR_BOARD_M5STACK_CORES3

        config PIN_TO_RCP_SCLK
            depends on OPENTHREAD_RADIO_SPINEL_SPI
            int "Pin to RCP SPI SCLK"
            default 12 if ESP_BR_BOARD_DEV_KIT
            default 36 if ESP_BR_BOARD_M5STACK_CORES3

        config PIN_TO_RCP_MISO
            depends on OPENTHREAD_RADIO_SPINEL_SPI
            int "Pin to RCP SPI MISO"
            default 13 if ESP_BR_BOARD_DEV_KIT
            default 35 if ESP_BR_BOARD_M5STACK_CORES3

        config PIN_TO_RCP_MOSI
            depends on OPENTHREAD_RADIO_SPINEL_SPI
            int "Pin to RCP SPI MOSI"
            default 11 if ESP_BR_BOARD_DEV_KIT
            default 37 if ESP_BR_BOARD_M5STACK_CORES3
    endmenu

    choice ESP_BR_RCP_TARGET
        prompt "Border router RCP target"
        default ESP_BR_H2_TARGET
        help
            The board running the Thread RCP.

        config ESP_BR_H2_TARGET
            bool "ESP32-H2"
            help
                ESP32-H2 RCP 

        config ESP_BR_C6_TARGET
            bool "ESP32-C6"
            help
                ESP32-C6 RCP
    endchoice

    config OPENTHREAD_BR_AUTO_START
        bool 'Enable the automatic start mode in Thread Border Router.'
        default n
        help
            If enabled, The Thread Border Router will connect to Wi-Fi with pre-configured
            SSID and PSK, and then form a Thread network automatically. Otherwise, user need
            to configure Wi-Fi and Thread manually.

      config PIN_TO_RCP_MOSI
          depends on OPENTHREAD_RADIO_SPINEL_SPI
          int "Pin to RCP SPI MOSI"
          default "11"
  endmenu

  config OPENTHREAD_BR_AUTO_START
      bool 'Enable the automatic start mode in Thread Border Router.'
      default n
      help
          If enabled, The Thread Border Router will connect to Wi-Fi with pre-configured
          SSID and PSK, and then form a Thread network automatically. Otherwise, user need
          to configure Wi-Fi and Thread manually.

        config EXTERNAL_COEX_REQUEST_PIN
            int "The number of external coexist request pin"
            depends on ESP_COEX_EXTERNAL_COEXIST_ENABLE && (EXTERNAL_COEX_WIRE_TYPE >= 0)
            default 12 if ESP_BR_BOARD_DEV_KIT
            default 36 if ESP_BR_BOARD_M5STACK_CORES3

        config EXTERNAL_COEX_GRANT_PIN
            int "The number of external coexist grant pin"
            depends on ESP_COEX_EXTERNAL_COEXIST_ENABLE && (EXTERNAL_COEX_WIRE_TYPE >= 1)
            default 13 if ESP_BR_BOARD_DEV_KIT
            default 35 if ESP_BR_BOARD_M5STACK_CORES3

        config EXTERNAL_COEX_PRIORITY_PIN
            int "The number of external coexist priority pin"
            depends on ESP_COEX_EXTERNAL_COEXIST_ENABLE && (EXTERNAL_COEX_WIRE_TYPE >= 2)
            default 10 if ESP_BR_BOARD_DEV_KIT
            default 13 if ESP_BR_BOARD_M5STACK_CORES3

        config EXTERNAL_COEX_TX_LINE_PIN
            int "The number of external coexist tx_line pin"
            depends on ESP_COEX_EXTERNAL_COEXIST_ENABLE && (EXTERNAL_COEX_WIRE_TYPE = 3)
            default 11 if ESP_BR_BOARD_DEV_KIT
            default 37 if ESP_BR_BOARD_M5STACK_CORES3
    endmenu # External coexist wire type and pin config

      config EXTERNAL_COEX_PRIORITY_PIN
          int "The number of external coexist priority pin"
          depends on ESP_COEX_EXTERNAL_COEXIST_ENABLE && (EXTERNAL_COEX_WIRE_TYPE >= 2)
          default 10

      config EXTERNAL_COEX_TX_LINE_PIN
          int "The number of external coexist tx_line pin"
          depends on ESP_COEX_EXTERNAL_COEXIST_ENABLE && (EXTERNAL_COEX_WIRE_TYPE = 3)
          default 11
  endmenu # External coexist wire type and pin config

endmenu